@font-face {
  font-family: "FiraGo";
  src: url("../src/assets/fonts/firago-latin-400-normal.woff2") format("woff2"),
    url("../src/assets/fonts/firago-latin-400-normal.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "FiraGo";
  src: url("../src/assets/fonts/firago-latin-500-normal.woff2") format("woff2"),
    url("../src/assets/fonts/firago-latin-500-normal.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "FiraGo";
  src: url("../src/assets/fonts/firago-latin-700-normal.woff2") format("woff2"),
    url("../src/assets/fonts/firago-latin-700-normal.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@import "tailwindcss";

@theme {
  --font-firaGo: FiraGo, "sans-serif";
  --default-font-family: FiraGo, "sans-serif";
}
