@import "tailwindcss";
@font-face {
  font-family: "FireGo";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/font/FiraGO-Regular.otf") format("otf");
}

@theme {
  --default-font-family: "FireGo" sans-serif;
  --font-fireGo: "FireGo" sans-serif;
}
